@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


html{
    background-color: rgba(0, 0, 0, 0.9);
}
.flexbox-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#title{
    font-family: 'Comfortaa', sans-serif;
    color: goldenrod;
}
.capcassDesc1:hover{
    opacity: 1;
    transition: ease-in;
}
#capcassTitle{
    opacity: 1;
    position: absolute;
    top: 30%;
    left: 25%;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    color: #ffe680;
}
#capcassDesc2{
    opacity: 1;
    position: absolute;
    top: 57%;
    left: 43.5%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #ffe680
}





